/*  Stylesheet for the Meteor Slides 1.5.1 slideshow
	
	Copy "meteor-slides.css" from "/meteor-slides/css/" to your theme's directory to replace
	the plugin's default stylesheet.
	
	If you have navigation enabled, be sure to copy the "buttons.png", "next.png",
	and "prev.png" files to your theme's images folder and update the image paths below,
	or create new graphics to replace them.
	
	Learn more about customizing the stylesheet for Meteor Slides: 
	http://www.jleuze.com/plugins/meteor-slides/customizing-the-stylesheet/
*/

/* =Slideshow
-------------------------------------------------------------- */

div.meteor-slides {
	clear: both;
    height: auto !important;
	line-height: 0;
	margin: 0;
	max-width: 100%;
	overflow: visible !important;
	padding: 0;
	position: relative;
	z-index: 1;
}
div.meteor-left {
	clear: none;
	float: left;
	margin: 0 20px 20px 0;
}
div.meteor-right {
	clear: none;
	float: right;
	margin: 0 0 20px 20px;
}
div.meteor-center {
	margin: 0 auto;
}
div.navpaged,
div.navboth {
	margin-bottom: 20px;
}
.meteor-slides .meteor-clip {
	line-height: 0;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
	width: 100%;
}
.meteor-slides .meteor-shim {
	border: 0;
	height: auto !important;
	margin: 0;
	max-width: 100%;
	padding: 0;
	/*width: auto\9; *//* IE8 */
}
.meteor-slides a:focus {
	outline: none;
}

/* =Slide
-------------------------------------------------------------- */

.meteor-slides .mslide {
	display: none;
	height: auto !important;
	margin: 0;
	max-width: 100%;
	padding: 0;
}
.single-slide .mslide {
	display: block;
}
.meteor-slides .mslide a {
	border: 0;
	margin: 0;
	padding: 0;
}
.meteor-slides .mslide img {
	border: 0;
	box-shadow: none !important;
	display: block;
	height: auto !important;
	margin: auto !important;
	max-width: 100%;
	padding: 0 !important;
	/*width: auto\9; */ /* IE8 */
}
.meteor-slides .mslide img[src$='.png'] {
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE8 */   
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF); /* IE7 */
	zoom: 1;	
}

/* =Previous/Next Navigation
-------------------------------------------------------------- */

.meteor-slides ul.meteor-nav {
	display: none;
	list-style: none;
    height: auto;
	margin: 0 !important;
	padding: 0;
}
.meteor-slides.navhover ul.meteor-nav {
	display: inline;
}
ul.meteor-nav li {
	display: inline;
    height: auto;
	list-style: none;
	margin: 0;
	padding: 0;
}
.meteor-nav .prev a {
	left: 0px;
}
.meteor-nav .next a {
	right: 0px;
}
.meteor-nav a {
	display: block;
	outline: none;
	position: absolute;
	text-indent: -9999px;
	width: 47px;
    height: 100%;
	z-index: 998;
}	
.meteor-nav .prev a {
	background: url('../images/prev.png') no-repeat center right;
}
.meteor-nav .prev a:hover {
	background: url('../images/prev.png') no-repeat center left;
}
.meteor-nav .next a {
	background: url('../images/next.png') no-repeat center left;
}
.meteor-nav .next a:hover {
	background: url('../images/next.png') no-repeat center right;
}	
* html .meteor-nav .prev a {
	background: url('../images/prev.gif') no-repeat center right; /* IE6 */
}
* html .meteor-nav .prev a:hover {
	background: url('../images/prev.gif') no-repeat center left; /* IE6 */
}
* html .meteor-nav .next a {
	background: url('../images/next.gif') no-repeat center left; /* IE6 */
}
* html .meteor-nav .next a:hover {
	background: url('../images/next.gif') no-repeat center right; /* IE6 */
}

/* =Paged Navigation
-------------------------------------------------------------- */

.meteor-slides .meteor-buttons {
    bottom: -24px;
    height: 9px;
    left: 0;
    margin: 0;
    padding: 6px 0 0;
    position: absolute;
   /* width: 100%;*/
    z-index: 999;
    margin-left:45%;
}
header#branding .meteor-buttons {
	left: 5px; /* A little nudge for Twenty Eleven */
}
.meteor-buttons a {
	display: inline-block;
    width: 12px;
    height: 12px;
    margin: 1px;
    margin-left:3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #FCCDA1 !important;
    border: 1px solid #fa8620;
    border-radius: 10px;
	text-indent: -9999px;
	color: #1a1a1a !important;;
}
.meteor-buttons a:hover {
	width: 12px;
    height: 12px;
    background-color: #fff;
}
.meteor-buttons a.activeSlide {
	width: 12px;
    height: 12px;
    background-color: #fa8620 !important;
	}

